### Importação das bibliotecas

In [1]:
import pandas as pd

### Leitura dos dados

In [92]:
df =  pd.read_table('Questão 1 - Base.txt')

## Exploração dos Dados

### Visão parcial dos dados

In [93]:
df.head()

   ID_CONTA DT_VENCIMENTO DS_ROLAGEM  VL_FATURA
0    402467    2019-01-01        FX0     210.00
1    403001    2019-01-01        FX1    1097.18
2    403499    2019-01-01        FX0    1209.88
3    403670    2019-01-01        FX0     667.40
4    404183    2019-01-01        FX1    1239.52

In [14]:
df.shape

(2728249, 4)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2728249 entries, 2019-01-01 to 2019-08-08
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   ID_CONTA    int64
 1   DS_ROLAGEM  object
 2   VL_FATURA   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 83.3+ MB

### Converter para DATE

In [94]:
df['DT_VENCIMENTO'] = pd.to_datetime(df['DT_VENCIMENTO'])

### Valores nulos?

In [27]:
df.isnull().sum()

ID_CONTA         0
DT_VENCIMENTO    0
DS_ROLAGEM       0
VL_FATURA        0
dtype: int64

### Quantidade de Contas

In [23]:
df['ID_CONTA'].nunique()

458842

### Distribuição de faturas pagas no mês anterior

In [21]:
df['DS_ROLAGEM'].value_counts(normalize=True) * 100

FX0    90.966624
FX1     9.033376
Name: DS_ROLAGEM, dtype: float64

In [96]:
df.set_index('DT_VENCIMENTO', inplace=True)

In [102]:
df.groupby(pd.Grouper(freq='M'))['VL_FATURA'].agg(['mean', 'min', 'max'])

                     mean    min       max
DT_VENCIMENTO
2019-01-31     463.261822  30.00  17046.37
2019-02-28     481.237717  30.03  18082.05
2019-03-31     490.117417  30.00  13175.51
2019-04-30     497.341462  30.02  13737.43
2019-05-31     509.895617  30.00  20556.23
2019-06-30     512.915118  30.02  19075.92
2019-07-31     518.815810  30.00  14526.75
2019-08-31     525.484887  30.00  19624.60
2019-09-30     548.157140  30.00  22647.48

### Testes Realizados

In [74]:
teste = df.head(10000).copy()
teste.tail()

               ID_CONTA DS_ROLAGEM  VL_FATURA
DT_VENCIMENTO
2019-01-03      1574086        FX0     199.91
2019-01-03      1574092        FX0      66.26
2019-01-03      1574093        FX0      33.03
2019-01-03      1574108        FX0     460.82
2019-01-03      1574117        FX0      63.83

In [67]:
teste.groupby(pd.Grouper(freq='D'))['VL_FATURA'].mean()

In [68]:
teste.groupby('DT_VENCIMENTO')['VL_FATURA'].mean()

In [79]:
teste[teste['DS_ROLAGEM'] == 'FX0'].groupby(pd.Grouper(freq='D')).count()['DS_ROLAGEM']

DT_VENCIMENTO
2019-01-01    4130
2019-01-02       0
2019-01-03    1965
2019-01-04       0
2019-01-05    1945
2019-01-06       0
2019-01-07       0
2019-01-08    1242
Freq: D, Name: DS_ROLAGEM, dtype: int64

In [80]:
teste[teste['DS_ROLAGEM'] == 'FX1'].groupby(pd.Grouper(freq='D')).count()['DS_ROLAGEM']

DT_VENCIMENTO
2019-01-01    290
2019-01-02      0
2019-01-03    215
2019-01-04      0
2019-01-05     95
2019-01-06      0
2019-01-07      0
2019-01-08    118
Freq: D, Name: DS_ROLAGEM, dtype: int64

### 1.1 – Qual o percentual de faturas emitidas por mês no qual os clientes não pagaram a fatura anterior?

In [112]:
df[df['DS_ROLAGEM'] == 'FX1'].groupby(pd.Grouper(freq='M')).count()['DS_ROLAGEM']

DT_VENCIMENTO
2019-01-31    22835
2019-02-28    27928
2019-03-31    33432
2019-04-30    25380
2019-05-31    30321
2019-06-30    25977
2019-07-31    29889
2019-08-31    28736
2019-09-30    21955
Freq: M, Name: DS_ROLAGEM, dtype: int64

In [113]:
df[df['DS_ROLAGEM'] == 'FX0'].groupby(pd.Grouper(freq='M')).count()['DS_ROLAGEM']

DT_VENCIMENTO
2019-01-31    290548
2019-02-28    285921
2019-03-31    273886
2019-04-30    276950
2019-05-31    271544
2019-06-30    278389
2019-07-31    281005
2019-08-31    288331
2019-09-30    235222
Freq: M, Name: DS_ROLAGEM, dtype: int64

In [114]:
total = df.groupby(pd.Grouper(freq='M')).count()['DS_ROLAGEM'].values
faturas_pagas = df[df['DS_ROLAGEM'] == 'FX0'].groupby(pd.Grouper(freq='M')).count()['DS_ROLAGEM'].values
faturas_nao_pagas = df[df['DS_ROLAGEM'] == 'FX1'].groupby(pd.Grouper(freq='M')).count()['DS_ROLAGEM'].values

In [117]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro']

novo_df = {'Mês' : meses, 
           'Faturas Pagas' : faturas_pagas, 
           'Faturas Não Pagas' : faturas_nao_pagas, 
           'Total' : total}

In [119]:
novo_df = pd.DataFrame(novo_df)

In [122]:
novo_df['% Faturas Pagas'] = (novo_df['Faturas Pagas'] / novo_df['Total']) * 100
novo_df['% Faturas Não Pagas'] = (novo_df['Faturas Não Pagas'] / novo_df['Total']) * 100

In [129]:
novo_df['% Faturas Pagas'] = novo_df['% Faturas Pagas'].apply(lambda x: round(x, 3))
novo_df['% Faturas Não Pagas'] = novo_df['% Faturas Não Pagas'].apply(lambda x: round(x, 3))

In [130]:
novo_df

,Mês,Faturas Pagas,Faturas Não Pagas,Total,% Faturas Pagas,% Faturas Não Pagas
0,Janeiro,290548,22835,313383,92.713,7.287
1,Fevereiro,285921,27928,313849,91.101,8.899
2,Março,273886,33432,307318,89.121,10.879
3,Abril,276950,25380,302330,91.605,8.395
4,Maio,271544,30321,301865,89.955,10.045
5,Junho,278389,25977,304366,91.465,8.535
6,Julho,281005,29889,310894,90.386,9.614
7,Agosto,288331,28736,317067,90.937,9.063
8,Setembro,235222,21955,257177,91.463,8.537